.profil-container {
    display: flex;
}

.main-profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-title {
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}