.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.14);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0085FF;
    border-color: #0085FF transparent #0085FF transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}