.detailPostCard-container {
    top: 20px;
    padding: 54px 75px 0 54px;
    animation: postAnim 2s;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: white;

}

.detailPostCard-header {
    display: flex;
    justify-content: space-between;
}

.detailPostCard-like-button {
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    width: 20%;
    background-color: #0085FF;
}

.detailPostCard-like-button:hover {
    cursor: pointer;
    background-color: rgba(0, 133, 255, 0.7);
}

.detailPostCard-date {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #444444;
    width: 130px;
    height: 35px;
    border-radius: 30px;
}

.detailPostCard-coment-button {
    width: 149px;
    height: 35px;
}

.detailPostCard-title-container {
    display: flex;
    flex-direction: column;
}

.detailPostCard-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5px;

}

.detailPostCard-text-container {
    word-break: break-all;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

@keyframes postAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}