.postCard-container {
    display: flex;
    height: 130px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    width: 80%;
}

.postCard-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.postCard-container:hover::after {
    content: ">";
    position: absolute;
    right: -25px;
    bottom: 50%;
}

.postCard-img-container {
    display: flex;
    align-items: center;
    padding: 33px;
}

.postCard-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;

}

.postCard-section-container {
    width: 80%
}

.postCard-section-title {}

.postCard-section-text {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postCard-social-container {
    display: flex;
    justify-content: space-between;
}

.postCard-like-container {
    margin-right: 10px;
}