.detailUser-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.detailUser-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 50%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detailUser-input {
    width: 100%;
}

.detailUser-input-red {
    border: 1px solid red;
}

.detailUser-input-red:focus {
    border: 1px solid red;
}