.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.login-container:after {
    content: "";
    width: 50%;
    height: 300px;
    background: url("../../assets/wave1.png") no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0px;
    position: absolute;

}

.login-container:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../../assets/wave2.png") no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0px;
    position: absolute;

}

.login-logo-container {
    text-align: center;
}

.login-logo {
    width: 50%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    z-index: 111;
}

.login-message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

button {
    all: unset;
}

.login-button-container {
    text-align: center;
}

.login-button {
    border-radius: 30px;
    width: 50%;
    height: 50px;
    margin-top: 36px;
    background-color: #0085FF;
}

.login-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.login-link {
    margin-top: 51px;
    text-align: center;
}

@media (max-width: 750px) {
    .login-form-container {
        width: 100%;
        margin: 10px;
        z-index: 1;
    }

}