.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.login-logo-container {
    text-align: center;
}

.login-logo {
    width: 50%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
}

button {
    all: unset;
}

.login-button-container {
    text-align: center;
}

.login-button {
    border-radius: 30px;
    width: 220px;
    height: 50px;
    margin-top: 36px;
    background-color: #0085FF;
}

.login-link {
    margin-top: 51px;
    text-align: center;
}